name: Update Source

on:
  workflow_dispatch:
  schedule:
    # Runs every day at 12:00 PM UTC
    - cron: '0 12 * * *'

permissions:
  contents: write

jobs:
  update:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: x86_64-linux
            runs-on: ubuntu-latest
          - platform: aarch64-linux
            runs-on: ubuntu-24.04-arm
          - platform: x86_64-darwin
            runs-on: macos-15-intel
          - platform: aarch64-darwin
            runs-on: macos-latest

    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install nix
        uses: canidae-solutions/lix-quick-install-action@v3

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Update lock
        shell: bash
        run: |
          set -euxo pipefail
          nix run .#default.lock
          git add .
          nix build

      - name: Upload lockfile artifact
        uses: actions/upload-artifact@v4
        with:
          name: lock-${{ matrix.platform }}
          path: lock.${{ matrix.platform }}.json
          retention-days: 1

  commit:
    needs: update
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: nightly
          token: ${{ secrets.GITHUB_TOKEN }}   # needs contents: write

      - uses: actions/download-artifact@v4
        with:
          pattern: lock-*
          merge-multiple: true

      - name: Commit & push
        run: |
          git config user.name  'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add lock.*.json
          git diff --cached --quiet || (
            git commit -m "chore: update lockfiles"
            git push origin nightly
          )
